/* Write your CSS here */
.background-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .background-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.team-card-container {
  list-style-type: none;
  /* border: 1px solid green; */
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-heading {
  color: #fff;
  font-family: 'Bree Serif';
  font-size: 38px;
}
.top-card-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
}
.logo-size {
  height: 60px;
  margin-right: 10px;
  align-self: center;
}
